/*
CSS for Banka App
*/
/*Beginning of style for index page*/
body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #e2edff;
	line-height: 125%;
	padding: 10px;
}
h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
}
h2 {
	color: blue;
	font-size: medium;
	font-weight: normal;
}
p {
	font-size: medium;
	color: navy;
}
#tagline h3 {
	font-style: italic;
	font-family: Georgia, Times, serif;
	font-size: medium;
}
#tagline a {
	float: right;
	padding-left: 10px;
}
#tagline a button{
	font-size: medium;
	color: blue;
	width: 80px;
}
#header {
	background-color: navy;
	color: white;
	text-align: center;
	padding: 1px;
}
#appdescription{
	position: relative;
	margin-left: 13%;
	margin-right: 13%;
}
#signup-signin-area{
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
#signup-signin-area a button{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: large;
	color: blue;
}
#signup-signin-area a {
	padding: 10px;
}
#signup-signin-area span{
	font-style: italic;
	font-family: Georgia, Times, serif;
	font-size: medium;
}
#passwordreset{
	padding-top: 20px;
}
#passwordreset a{
	text-decoration: none;
}
#contact {
	font-style: italic;
	padding-top: 30px;
}
/*end of style for index page*/

/*multi page style*/
#page-header{
	font-size: large;
	color: #0A384A;
	text-align: center;
	padding-bottom: 20px;
}
#page-header span a{
	font-size: x-large;
	color: blue;
	text-align: center;
	padding-bottom: 20px;
	float: left;
	text-decoration: none;
}
/*end of multi page style*/

/*Beginning of style for user signin/signup pages*/
form#signup fieldset {
	border: 2px solid navy;
	padding: 15px;
}
form#signup {
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
	margin-top: -15px;
	line-height: 300%;
}
form#signup label {
	font-weight: bold;
	font-size: 1.2vw;
	color: blue;
}
form#signup label.fixedwidth {
	display: block;
	width: 20%;
	float: left;
}
.alert {
	display: block;
	width: 20%;
	font-size: small;
	color: red;
	width: 100%;
	margin-left: 20%;
}
#inputfield input{
	width: 30%;
	padding:5px;
}
#inputfield select{
	width: 31%;
	padding:5px;
}
form#signup #buttonarea input {
	background: navy;
	color: white;
	font-weight: bold;
	padding: 10px;
	border: 1px solid white;
	font-size: medium;
	margin-left: 20px;
	margin-right: 20px;
}
form#signup #buttonarea {
	text-align: center;
	padding: 2px;
	background-color: #0066ff;
}
.asterics{
	font-size: small;
	color: black;
	position:absolute;
}
.red-signin{
	font-size: large;
	text-align: center;
	color: black;
}
.red-signin button{
	font-size: x-large;
	color: blue;
}
/*End of style for user signin/signup pages*/

/*Beginning of style for user dashboard*/
#dash-content{
	border: 1px solid navy;
	padding: 20px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: -15px;
	line-height: 300%;
	display: block;
}
#account-number, #balance, #staff-id{
	float: left;
}
#dash-setting,  #account-photo, #photo-upload{
	float: right;
}
#photo-upload{
	font-size: xx-large;
	color: blue;
}
#client-name, #staff-name{
	text-align: center;
}
#transaction-history{
	float: center;
}
table#transaction-table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	float: center;
}
table#transaction-table th, table#transaction-table td {
	padding: 4px;
	border: 2px solid #000066;
}
table#transaction-table th {
	font-size: small;
	text-align: center;
	background: brown;
	color: #ffffff;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 5px;
	padding-right: 5px;
}
table#transaction-table td {
	font-size: small;
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 5px;
	padding-right: 5px;
}
table#transaction-table caption {
	color: #000066;
	font-size: large;
	text-align: center;
	padding-bottom: 5px;
	font-weight: bold;
}
#dash-setting {
	margin-right: 5%;
	margin-top: -15px;	
}
#dash-setting button{
	font-size: large;
	color: blue;
	padding: 3px;
	margin: 5px;
	margin-top: -15px;	
}
#account-photo{
	border: 1px solid black;
	display: block;
	width: 160px;
	height: 160px;
}
#view-transaction-button button{
	font-size: large;
	color: blue;
	padding: 3px;
	margin: 10px;
	margin-left:40%;
	margin-right:40%;
	margin-top: 20px;
}
#print-transaction-button button{
	font-size: large;
	color: blue;
	padding: 3px;
	margin: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
	margin-left: 90%;
}
#staff-buttons{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	float: center;
}
#staff-buttons button{
	font-size: 1.2vw;
	color: blue;
	width: 14%;
	padding: 5px;
	margin: 10px;
	margin-left: 5px;
	margin-right:5px;
	margin-top: 20px;
}
#staff-buttons a {
	decoration: none;
}
/*End of style for user dashboard page*/

/******* Slideshow ********/
.mySlides {display: none;}
img {
	vertical-align: middle;
	max-height: 400px;    
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: yellow;
  text-shadow: 2px 2px 4px #000000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 18px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: goldenrod;
}